*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    z-index: 10;
    top: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 4vh);
    grid-template-areas: 
    "logo logo navbar navbar navbar navbar navbar navbar navbar navbar"
    "logo logo navbar navbar navbar navbar navbar navbar navbar navbar"
    "logo logo navbar navbar navbar navbar navbar navbar navbar navbar";
    padding: 1.5vh;
    background-color: #162D54;
    box-shadow: 0 0 2px 1px  rgb(0, 0, 0);
}

.logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    grid-area: navbar;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 90%;
}

.navbar-list{
    display: flex;
    list-style: none;
}

.navbar-list-item{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    text-decoration: none;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 1px;
    margin: 0 1vw;
    display: flex;
    align-self: center;
    padding: 0.4vw;
}

.navbar-list-item:hover{
    background-color: rgba(255, 136, 0, 0.493);
    color: #162D54;
}

.burger-menu{
    color: white;
    font-size: 1.5rem;
    padding-left: 1vw;
}

.contact-us{
    height: 8vh;
    width: 6vw;
    background-color: #162D54;
    position: fixed;
    right: -30px;
    top: 75vh;
    display: flex;
    align-items: center;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    z-index: 50;
    box-sizing: border-box;
    padding-left: 1.5vw;
    box-shadow: 0 0 10px 1px  rgba(255, 255, 255, 0.603);
}

.fa-message{
    width: 3vw;
    font-size: 1.5rem;
    color: white;
}

@keyframes messageIn {
    0%{ 
        right: -30px
    }
    100%{
        right: -20px;
        transform: scale(1.2);
    }
}

.contact-us:hover{
    animation: messageIn 1s forwards;
}

.contact-us:hover>.fa-message{
    color: rgba(255, 136, 0, 0.61);
}

.fa-bars:hover{
    color:rgba(255, 136, 0, 0.493);
}

.video-front{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
}

.Miami-video{
    width: 100%;
}

.front-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #162D54;
    background-color: rgba(255, 255, 255, 0.644);
    padding: 2vw;
}

.front-text h1{
    font-size: 4rem;
    letter-spacing: 0.2vw;
}

.front-text h3{
    margin-top: 1vh;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.main-content{
    box-sizing: border-box;
    margin: 0 auto;
}

.first-paragraph{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Img/beach.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    padding: 6vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-paragraph h1{
    width: 60vw;
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
}

.div-paragraph{
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}

.div-paragraph h2{
    width: 95%;
}

.first-paragraph-description{
    font-size: 1.185rem;
    box-sizing: border-box;
    margin: 3vh auto;
    width: 95%;
    font-family: 'Montserrat', sans-serif;
}

.common-paragraph{
    display: flex;
    width: 95vw;
    margin: 8vh auto;
}

.common-paragraph h2{
    font-size: 2rem;
}


.div-common-paragraph{
    width: 40vw;
    margin: auto;
}

.common-paragraph img{
    width: 40vw;
    height: auto;
    margin: auto;
}

.home-video{
    width: 40vw;
    height: auto;
    margin: auto;
}

.common-paragraph-description{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    box-sizing: border-box;
    margin: 3vh auto;
    letter-spacing: 1.5px;
    line-height: 2.7vh;
}

.common-area{
    background-color: #162D54;
    padding: 3vh 0;
    color: white;
}

.home-zoom{
    margin: auto;
    overflow: hidden;
}

.house-image-zoom{
    transition: transform 1s ease-in-out;
}

.home-zoom:hover > .house-image-zoom{
    overflow: hidden;
    transform: scale(1.02);
}

.last-paragraphs{
    display: flex;
}

.last-common-paragraph{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.horizontal-paragraph{
    width: 40vw;
}

.social-media{
    padding-bottom: 8vh;
    margin-bottom: 0;
    border-bottom: 1px solid #162D54;
}
.last-image{
    padding-top: 8vh;
    max-height: 280.250px;
}

.sales-team{
    background-image: url("../Img/sales-team.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-top: 7.6vh;
}

.last-title{
    margin-top: 3vh;
}
.footer{
    background-color: #162D54;
    height: 20vh;
}

.mail-contact{
    padding-top: 2vh;
    margin: 0 auto 2vh auto;
    width: 70vw;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.contact-div{
    text-align: center;
    width: 80%;
}

.contact-input{
    width: 75%;
    border: 1px solid white;
    margin-right: 2vw;
    font-family: 'Montserrat', sans-serif;
    padding-left: 1vw;
}

.contact-input:focus{
    outline: none;
}

.contact-button{
    width: 45%;
    background-color: white;
    color: #162D54;
    border: none;
    border-radius: 3px;
}

.contact-button:hover{
    background-color: rgba(255, 136, 0, 0.61);
    font-weight: 600;
}

.contact-main-text{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.footer-info{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 3vh 0;
}

.footer li{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 13px;
    line-height: 2rem;
}

.drop-down{
    display: none;
    z-index: 20;
    position: absolute;
    top: 10vh;
    font-size: 1.2rem;
    background-color: #162d54b7;
    padding-top: 1vh;
    padding-bottom: 2vh;
    width: 10vw;
    margin-left: 39vw;
}

.drop-down-ul{
    width: 10vw;
}

.drop-down-li{
    list-style-type: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    margin-left: 2vw;
    line-height: 3rem;
}

.drop-down-li:hover{
    text-shadow: -1px 1px 2px gray;
}

.drop-down-a{
    text-decoration: none;
}

.drop-down-li:hover{
    color: rgba(255, 136, 0, 0.493);
    text-shadow: none;
    font-weight: 600;
}